body {
  padding: 0;
  margin: 0;
}

#left, #right {
  width: 290px;
  height: 315px;
  float: left;
  margin-right: 10px;
}

#left {
  background: url('../images/left.jpg') no-repeat top left;
}

#right {
  background: url('../images/right.jpg') no-repeat top left;
}

@import "plugins";
